DATABASE_URL=postgresql://postgres.<project-ref>:<password>@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
SECRET_KEY=<your-secret-key>
SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_KEY=<your-supabase-anon-key>
